/****************** Exclusive for popup **********************/
@media only screen and (min-width: 1023px) and (max-width: 1200px){
    .main_popup ._timer{
        left: 22%;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1420px){
    .main_popup ._timer{
        left: 26%;
    }
}
/****************** End exclusive for popup **********************/

@media only screen and (min-width: 1200px) and (max-width: 1300px){
    #partners .owl-nav .owl-next, .content .owl-nav .owl-next{
        right: -3%;
        margin: 0;
    }
    #partners .owl-nav .owl-prev, .content .owl-nav .owl-prev{
        left: -3%;
        margin: 0;
    }
}
@media only screen and (max-width: 1200px){
    #main ._tabs .container{ max-width: 100%;}
}
@media only screen and (max-width: 1090px){
    #partners .owl-nav{ margin-top: 10px;}
    #partners .owl-nav .owl-prev{ position: relative; top: 0; left: 0;}
    #partners .owl-nav .owl-next{ position: relative; top: 0; right: 0;}

    .content_page .content .owl-nav{ margin-top: 10px;}
    .content_page .content .owl-nav .owl-prev{ position: relative; top: 0; left: 0;}
    .content_page .content .owl-nav .owl-next{ position: relative; top: 0; right: 0;}
}
@media only screen and (max-width: 992px){
    #header .container { max-width: inherit}
    #main ._tabs a{ padding-top: 0;}
}
@media only screen and (max-width: 768px){
    #header .container{ padding: 0}
    #header .row{ margin: 0}
    #header .row .col-6{ padding: 0}
    #header ._header_menu ._dropdown_menu{ min-width: 100vw}

    #main ._tabs{ border-top: none}
    #main ._tabs ul{
        background-color: #fff;
        /*margin-bottom: -55px;*/
        position: relative;
        z-index: 5;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    }
    #main ._tabs li{
        width: 50%;
    }
    #main ._tabs li:nth-of-type(2){ border-left: 1px solid #dee2e6;}
    #main ._tabs li:nth-of-type(3){ border-top: 1px solid #dee2e6}
    #main ._tabs li:nth-of-type(4){ border-left: 1px solid #dee2e6; border-top: 1px solid #dee2e6}
    #main ._tabs a{ padding-top: 0; padding-bottom: 17px}
    #main ._tabs a:hover{ border-bottom: 2px solid #f0693c; border-top: none}

    #slider{ padding-bottom: 1em}
    #slider .owl-nav{ display: block}

    .content_page .content .table td{ display: block; padding: 1.5em}
    .content_page .content .table td .team_img{ text-align: center}
}
@media only screen and (max-width: 576px){
    #main ._main_logo img{ width: 200px}
    #main ._tabs a{ padding-bottom: 0}
    #welcome-text ._card{ padding: 2em;}
    #about ._about_card{ padding: 2em}
    .content_page .content .table td .team_img img{ width: 240px}
    .content_page .content ._card{ padding: 2em}
}
@media only screen and (max-width: 460px){
    #header ._header_menu ._dropdown_menu ._additional ul li{
        display: block;
    }
}